/* palette: http://www.palettable.io/161719-1D1F21-52A8FF-DEE2E7 */

nav,
body {
  min-width: 280px;
}

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #DEE2E7;
}

p {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-custom {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.gh-logo-light,
.gh-logo-primary {
  border-top: solid 5px;
  max-width: 270px;
  margin: 40px auto;
}

.gh-logo-light:after,
.gh-logo-primary:after {
  content: "\f09b";
  font-family: FontAwesome;
  font-weight: bold;
  position: relative;
  top: -0.8em;
  font-size: 2.5em;
  padding: 0 0.25em;
}

.gh-logo-light {
  border-color: #DEE2E7;
}

.gh-logo-light:after {
  background-color: #1D1F21;
  color: #DEE2E7;
}

.gh-logo-primary {
  border-color: #1D1F21;
}

.gh-logo-primary:after {
  background-color: #DEE2E7;
  color: #1D1F21;
}

header {
  background-color: #1D1F21;
  color: #DEE2E7;
}

header .container {
  padding-bottom: 50px;
  padding-top: 80px;
}

.name {
  margin-top: .75em;
  font-size: 3em;
}

.intro {
  font-size: 1.5em;
}

@media (min-width: 768px) {
  header .container {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  .name {
    font-size: 4.75em;
  }
  .intro {
    font-size: 2em;
  }
}

.navbar-custom {
  background: #161719;
  border-bottom-color: #111;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-shadow: #111 4px 4px 2px 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-nav li a,
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active,
.navbar-custom .navbar-nav li.active a {
  color: #DEE2E7;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li.active a:hover {
  color: #52A8FF;
}

.navbar-custom .navbar-toggle {
  color: #DEE2E7;
  text-transform: uppercase;
  font-size: 10px;
  border-color: #1D1F21;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #1D1F21;
  color: #DEE2E7;
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    -o-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .affix {
    padding: 5px 0;
  }
  .affix .navbar-brand {
    font-size: 1.25em;
  }
}

.navbar-collapse {
  overflow-x: hidden;
}

.about-section {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #1D1F21;
}

.orgs-section {
  background-color: #1D1F21;
  color: #DEE2E7;
  padding-top: 50px;
  padding-bottom: 75px;
}

.org-logos {
  margin-top: 2em;
}

.section-title,
.repo-modal-title {
  margin: 0;
  font-size: 2.5em;
}

@media (max-width: 400px) {
  .section-title {
    font-size: 1.75em;
  }
  h4 {
    font-size: .75em;
  }
}

.repo-item {
  margin-top: 2em;
}

.repo-item img {
  box-shadow: #161719 0 0 2px 2px;
}

.carousel-caption {
  bottom: 0;
  left: 0;
  color: #DEE2E7;
  padding: .25em;
  width: 100%;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, .5);
}

.repo-content {
  color: #1D1F21;
  padding-top: 75px;
  padding-bottom: 75px;
}

.repo-link {
  display: block;
  position: relative;
}

.caption {
  background: #52A8FF;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.caption:hover {
  opacity: .7;
}

.caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #DEE2E7;
}

.caption-content i {
  margin-top: -18px;
}


/* fix for right padding added on bs.shown.modal */

.repo-modal {
  padding-right: 0!important;
}

.pager li span {
  background: #1D1F21;
  color: #DEE2E7;
}

.modal-content {
  text-align: center;
  background-color: #DEE2E7;
}

.modal-content img {
  margin-bottom: 30px;
}

.modal-content a {
  color: #52A8FF;
}

.btn-close,
.btn-close:hover {
  margin: 2em auto;
  background-color: #52A8FF;
  color: #DEE2E7
}

.more-repos {
  margin-top: 75px;
  padding-bottom: 50px;
}

.more-repos a {
  color: #52A8FF;
  text-decoration: underline;
}

footer,
footer a,
footer a:hover,
footer a:focus,
footer a:active,
footer a.active {
  color: #DEE2E7;
}

#adblock-message a {
  text-decoration: underline;
}

.footer-title {
  margin-bottom: 30px;
}

footer {
  background-color: #161719;
}

footer {
  padding-top: 30px;
}

.btn-contact {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid #DEE2E7;
  border-radius: 50%;
  font-size: 1.5em;
  margin: .25em 0;
}

.btn-contact i {
  padding-top: .4em;
}

.btn-contact:hover {
  background: #52A8FF;
}

.copyright {
  margin: 2em auto 1em auto;
}
